  <%= render "shared/banner_half" %>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <% if !!@filters %>
      <% @filters.each do |_id, filter| %>
      <div class="col-md-1">
        <span class="badge badge-pill badge-primary"><%= filter %>  <i class="fas fa-times"></i></span>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    <h1>Surfboards</h1>
    <% if policy(Surfboard).create? %>
        <%= link_to 'New Surfboard +', new_surfboard_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @surfboards.each do |surfboard| %>
    <div class="col-md-3">
      <%= render "shared/card", surfboard: surfboard%>
    </div>
    <% end %>
  </div>
</div>
